.creatorCarousel {
  background-color: var(--homepage-royal-blue);
  color: var(--main-text-color);
  display: flex;
  justify-content: center;
  padding: 56px 0;
}

.creatorCard {
  background-color: var(--card-background-color) !important;
  padding: 42px 21px !important;
}
